body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

canvas {
  border: 1px solid #fff;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 12px;
}


#score {
  font-size: 1em;
  font-weight: bold;
 
}